main {
  min-height: 80vh;
}

.edit-profile {
    position: absolute;
    top: -20px;
    right: 15px;
    padding: 4px;
    border: 0px;
    box-shadow: rgba(93, 56, 192, 0.17) 0px 2px 4px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.divider {
  width: 90%!important;
}

.edit-address {
  position: absolute;
  top: -20px;
  left: 15px;
  border: 0px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

.delete-address {
  position: absolute;
  top: -20px;
  right: 15px;
  border: 0px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}
